.header {
  /* position: fixed; */
  /* 화면 상단에 고정 - 활성화하면 다른 화면이 안보임*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* 다른 요소보다 위에 위치 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #8fc7ff;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.logo-container {
  display: flex;
  align-items: center;
  /* 로고와 텍스트 수직 중앙 정렬 */
}

.logo {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  /* 아이콘과 텍스트를 수평으로 나열 */
  align-items: center;
  /* 수직 중앙 정렬 */
}

.icon {
  font-size: 25px;
  margin-right: 8px;
}

.nav-link:hover {
  color: #f0f0f0;
}