.header {
  display: flex;
  justify-content: space-between;
  /* 왼쪽과 오른쪽 정렬 */
  align-items: center;
  /* 수직 중앙 정렬 */
  padding: 10px 50px;
  background-color: #8fc7ff;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  /* 로고와 텍스트 수직 중앙 정렬 */
}

.logo {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  /* 아이콘과 텍스트를 수평으로 나열 */
  align-items: center;
  /* 수직 중앙 정렬 */
}

.icon {
  font-size: 25px;
  margin-right: 8px;
}

.nav-link:hover {
  color: #f0f0f0;
}