.phone-preview {
  position: relative;
  width: 350px;
  height: 700px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.phone-screen {
  position: absolute;
  width: 85%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.0);
  /* 반투명 검정 */
  border-radius: 20px;
  padding: 10px;
  overflow-y: auto;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-bubble {
  max-width: 90%;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.chat-bubble.sent {
  align-self: flex-end;
  background-color: #007bff;
}

.chat-bubble.received {
  align-self: flex-start;
  background-color: #555;
}